a{
    color:#fff;  
   text-decoration: none; 
  }
a:hover{
      color:#fff;
  }
  
.logo{
  width: 20%;
  height: 10%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Paytone One', sans-serif;
  float: left;
  }
  /* LOGO */
.logo p{
  padding-left: 15px;
  font-size: 60px;
  position: absolute;
  animation: jackInTheBox;
  animation-duration:3s;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Paytone One', sans-serif;
  color:#DE934D;
  }
.botones{
    display:inline-block;
    width: 70%;
    height: 90px;
    
    margin: 0 auto;
   padding-top: 25px;
   padding-left:65em;
    
  }
.btn-outline-secondary {
      color: #DE934D;
      border-color: #DE934D;
    }
.btn-outline-secondary:hover {
      color: #fff;
      background-color: #DE934D;
      border-color: #DE934D;
    }
  
.bg-light {
      --bs-bg-opacity: 0;
      background-color: rgba(#781D42) !important;
    }

.col :hover{
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(255,255,255,0.9 );
  }
img .img{
    width: 60px;
    height: 100px;
    
  }
p{
      color:#fff;
  }
p.error{
  color: red;
  }
p.exito{
    color: green;
    }


/*NAVEGADOR*/
.navegador{
    background-color:#A3423C ;
    padding-left: 27%;
    height: 10%;
    display: flex;
    align-items: center;
}
.navbar-light .navbar-brand {
  color: #DE934D;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #DE934D;
}

section{
    padding-top: 10%;
    width: 100%;
    background-image: url('fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

body{
    background-image: url('fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.logo-tarjeta{
    width: 14%;
    height: 10%;
}

.descuento{
    font-size: 120%;
}

.beneficio{
    padding-top: 2%;
    padding-left: 1%;
    text-align: left;
    
}


article{
    float: left;
    width: 45%;
    margin-left: 3%;
    background-color: rgb(240, 210, 144);
    text-align: left;
    line-height: 250%;
    padding-bottom: 2%;
    font-size: 110%;
}

.titulo{
    font-size: 160%;
    color: #461111;
    text-align: center;
}

aside{
    float: right;
    width: 45%;
    margin-right: 3%;
    background-color: rgb(240, 210, 144);
    text-align: center;
    line-height: 200%;
    padding-bottom: 2%;
}


footer {
    background-color:#781D42;
    position:fixed;
    left:0px;
    bottom:0px;
    height:5%;
    width:100%;
  }




