#mainContainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  body{
   margin:0;
  }
  header{
      width: 100%;
      background-color:#461111;
      height: 150px;
  }
  
  .logo{
  width: 100%;
  height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Paytone One', sans-serif;
  
  }
  /* LOGO */
  .logo p{
    padding-left: 15px;
  font-size:60px;
  animation: jackInTheBox;
  animation-duration:3s;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Paytone One', sans-serif;
  color:#DE934D;
  }
  .botones{
   float:right;
    
  }
  .btn-outline-secondary {
      color: #DE934D;
      border-color: #DE934D;
    }
  .btn-outline-secondary:hover {
      color: #fff;
      background-color: #DE934D;
      border-color: #DE934D;
    }
  /*NAVEGADOR*/
  .navegador{
      background-color:#A3423C ;
      padding-left: 0px;
  }
  .navbar-light .navbar-brand {
    color: #DE934D;
  }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #DE934D;
  }
  /* .row {
    padding-left: 20px;
    padding-right: 20px;
  } */
  .bg-light{
      
      
      width: 100%;
      height: 40%;
      padding-left: 130px;
      padding-right: 130px;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Paytone One', sans-serif;
      
  }
  
  
  
  section{
      padding-top: 70px;
      width: 100%;
      background-image: url('fondo1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
  
  }
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  
  
      footer {
          background-color: black;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 40px;
          color: white;
        }
        
  }
  .bg-light {
      --bs-bg-opacity: 0;
      background-color: rgba(#781D42) !important;
    }
  .card {
      
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      opacity: 50;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      width: 300px;
      font-family: 'Readex Pro', sans-serif;
     }
  
  .col :hover{
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(255,255,255,0.9 );
  }
  img{
    width: 60px;
    height: 100px;
    
  }
  
  .usuario{
    display: inline-block;
    color: white; 
    margin: 0;
  }
  