
h1{
    text-align: center;
}

body{
    background-color: rgb(222, 131, 77);
    height: 100%;
}


#formulario{
    background-color: rgb(240, 210, 144);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    text-align: center;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    padding: 1%;
    line-height: 200%;
}

#espacio{
    height: 30px;
}

#nombre{
    width: 20%;
}

#apellido{
    width: 20%;
    
}

#email{
    width: 41%;
}

#contrasena{
    width: 41%;
}

#generos{
    text-align: 
}