body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../css/img/fondo.jpeg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.flex-item{
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;    
}
img{
    width: 100px;
    height: 100px;
}
.flex-item img{
    height: 730px;
    width: 100%;
    margin: 10px;
    justify-content: center;    
}
.container_for{
    background-color: #F0D290;
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}

h2{
    text-align: center;
    color: black;
}
input{
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: transparent;
    outline: none;
    color: black;
    border: none;
    border-bottom:2px solid black;

}
button{
    width: 150px;
    border-radius: 15px;
    background-color: #A3423C;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #A3423C;
    margin-left: 96px;
}
