!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
 
    <!--
   <header>
        <div class="container-fluid top"> 
          <div class="">
               <div class="logo">
                       <p  class="animate_animated animate_bounde"> RESTO APP</p>     
               </div>
      
             
                <div class="botones">
                <a href="##"><button type="button" class="btn btn-outline-secondary">Registrate</button></a>         
                <a href="##"><button type="button" class="btn btn-outline-secondary">Iniciar Sesión</button></a>
                </div>
              
           
          </div>
        </div>  
      </header>

      NAVEGADOR

      <div class="navegador">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
                <div class="container-fluid">
                  <a class="navbar-brand"  href="#">Carrito</a>
                  <a class="navbar-brand"  href="#">Nosotros</a>
                  <a class="navbar-brand"  href="#">Reservas</a>
                  <a class="navbar-brand"  href="#">Beneficios</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
              
        </nav>
    -->
    </div class="login">
    <!--<img src= "restoapp_png.jpg" width="400px" height="400px" -->
    <h1>INGRESA A TU CUENTA</h1>
    <form>
    
        <label for="nombre">nombre de usuario</label>
        <input placeholder="ingrese su usuario" type="text" required>

        <label for="contraseña">contraseña</label>
        <input placeholder="ingrese su contraseña" type="password" required>
        <input type="submit" value ="iniciar sesion">
    <a target= "blank" href="creatucuenta.html">¿no tienes cuenta? creala ya!</a>
  </form>
    </div>
    
    <!--
<footer>
        <p>Copyright 2001-2021 RestoApp. Todos los derechos reservados. Prohibida la duplicación, distribución o almacenamiento en cualquier medio.</p>
    </footer>
    -->
    
  
    </body>

</html>