<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="./css/img/png-transparent-user-profile-computer-icons-login-authentication-secure-miscellaneous-text-logo.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/img/fondo.jpeg.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Paytone+One&display=swap" rel="stylesheet">
</head>


<body>
    
    <div class="container">
        <div class="container_for">
        <img src="./css/img/png-transparent-user-profile-computer-icons-login-authentication-secure-miscellaneous-text-logo.png" alt="">
        <h2>INICIAR SESION</h2>
        <form action=" ">
            <input type="text" placeholder="nombre de usuario" required>
            <input type="password" placeholder="contraseña" required>
            <button>INICIAR SESION</button>
            <a href="#">¿No tienes cuenta? crea una ahora!</a>
            
        </form>
</div>
    </div>
</body>
</html>