<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <link href="registro.css" rel="stylesheet">
        <title> Registro / RestoApp </title>
    </head>
    <body>
        <header>
            <a href=""><img src= alt="Home"></a> 
        </header>
        <h1>Crear tu cuenta en RestoApp</h1>
        <form>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre"/>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido"/> <br/>
            <input type="email" id="email" name="email" placeholder="Correo electrónico"/> <br/>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña"/><br/>
            <label for="nacimiento">Fecha de nacimiento</label> <br/>
            <input type="date" id="nacimiento" name="nacimiento"/> <br/>
            <label for="genero">Género</label><br/>
            <div id="generos">
                <input type="radio" name="genero" value="1"> Hombre <br/>
                <input type="radio" name="genero" value="2"> Mujer <br/>
                <input type="radio" name="genero" value="3"> Otro <br/>
            </div>
            <button type="submit">Registrarte</button>

        </form>

    </body>
</html>